name: Run debug tests
on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1 # backtraces on panic

jobs:
  test-debug:
    name: test debug (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
      - name: Run debug tests
        run: cargo test --all --locked --verbose